@import url("https://fonts.googleapis.com/css2?family=Freeman&family=REM:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Freeman", sans-serif; */
  font-weight: 400;
  font-style: normal;
}

/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 5px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* color of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the thumb on hover */
}

body {
  overflow: hidden;
}

article {
  width: 100%;
}

.content-container {
  scrollbar-width: none;
  padding-bottom: 4rem;
}

.content-container::-webkit-scrollbar {
  display: none;
}

h2 {
  margin-top: 1rem !important;
}

h3 {
  margin-top: 1rem !important;
}

table th {
  @apply border p-1;
}

tr {
  @apply even:bg-gray-50 dark:even:bg-gray-700;
}

td {
  @apply border;
}

.sample {
  border: 0px !important;
}

.sample tr {
  @apply even:bg-white dark:even:bg-black;
}

.language-svelte {
  @apply text-yellow-300;
}

.language-svelte .keyword {
  @apply text-blue-400;
}

.language-svelte .string {
  @apply text-white;
}

.language-svelte .punctuation {
  @apply text-blue-500;
}

.language-svelte .script {
  @apply text-green-500;
}

.language-svelte .language-javascript {
  @apply text-green-300;
}

.prose {
  max-width: 85ch !important;
}

.sample tr:first-child {
  display: none;
}

.grid-img,
hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.notes {
  margin-top: 1rem !important;
  display: block;
}

.icon-rotate {
  animation: 2s linear infinite rotate;
  cursor: pointer;
}

.icon-rotate:hover {
  animation: none;
}

.otp-container {
  display: flex;
  gap: 10px !important;
}

.experimental-img {
  border-radius: 15px;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideIn 0.3s forwards;
}
